/*==========================================
responsive media query for tablet device
============================================*/
@media only screen and (min-width: 600px) and (max-width:768px) {
    .nav-menu {
        flex-direction: column;
    }

    .nav-items {
        margin-top: 10px;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-title-primary {
        font-size: 60px;
    }

    .header-banner {
        margin: 0 30px;
    }

    .gammer-container {
        padding: 0 20px;
        flex-direction: column;
    }

    .gammer-image,
    .gammer-info {
        width: 90%;
        text-align: center;
    }

    .online-video {
        padding: 0 30px;
    }

    .video-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .play-title {
        font-size: 30px;
        line-height: normal;
    }

    .text-primary {
        font-size: 30px;
    }

    .play-game-online {
        padding: 0 30px;
    }

    .play-instantly-title,
    .play-instantly-title .text-primary {
        font-size: 25px;
    }
}


/*======================================
 responsive media query for mobile device
 ======================================= */
@media only screen and (max-width: 600px) {

    .nav-menu,
    .nav-items {
        flex-direction: column;
    }

    .nav-items>li {
        margin-top: 10px;
    }

    .header-banner {
        flex-direction: column-reverse;
    }

    .banner-title {
        font-size: 30px;
    }

    .banner-title-primary {
        font-size: 60px;
    }

    .banner-items li {
        font-size: 17px;
    }

    .banner-info,
    .banner-image,
    .gammer-info,
    .gammer-image {
        width: 80%;
    }

    .banner-info {
        margin-top: 50px;
    }


    /* gammer section responsive styles  */
    .gammer-container {
        flex-direction: column;
    }

    .gammer-info {
        text-align: center;
    }

    .text-primary,
    .video-title {
        font-size: 40px;
    }


    /* online vide section responsive styles  */
    .video-wrapper {
        flex-direction: column;
    }

    .video-title,
    .video-title-info {
        padding: 0 20px;
    }

    .video-card {
        margin-top: 20px;
    }

    /* play instantly section responsive sytles  */
    .play-instantly-wrapper {
        flex-direction: column;
        padding: 0 30px;
    }

    .play-instantly-info,
    .play-instantly-image {
        width: 90%;
        text-align: center;
    }

    .play-instantly-info {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .play-instantly-title {
        font-size: 30px;
        line-height: normal;
        color: #0B0223;
    }

    /* play game section responsive styles  */
    .play-game-title {
        font-size: 45px;
        line-height: normal;
    }

    .play-game-online {
        flex-direction: column;
    }

    .play-game-image,
    .play-game-info {
        width: 80%;
    }

    .play-game-info {
        padding-left: 0;
        margin-top: 100px;
        text-align: center;
    }

    .play-game-title {
        font-size: 30px;
        line-height: normal;
    }

    .play-game-title .text-primary {
        font-size: 30px;
    }


    /* games items wrapper  */
    .games-items-wrapper{
       display: grid;
       grid-template-columns: repeat(3, 1fr);
    }
    .games-item{
        margin-bottom: 8px;
    }
    .games-item img{
        width: 30px;
    }
    .games-name{
        font-size: 12px !important;
        font-weight: 500;
    }

    /* footer styles for responsive  */
    .footer-menu-items,
    .footer-terms {
        flex-wrap: wrap;
        padding: 0 30px;
    }

    .footer-icons {
        max-width: 200px;
        margin: 40px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        text-align: center;
    }

    .footer-icons i {
        margin-right: 0 !important;
    }


}