@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*====================
    common styles 
 ===================*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.btn-secondary {
    border-radius: 48px;
    background: #4EC5F7;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: 0;
    cursor: pointer;
}

/*===============================
    header section styles
 ================================== */
.nav-wrapper {
    box-shadow: 1px 1px 10px 0px rgba(179, 177, 179, 1);
}

.nav-menu {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 30px 0;
}

.logo-container {
    display: flex;
    gap: 10px;
}

.logo-image {
    object-fit: contain;
}

.logo-container h2 {
    color: #0B0223;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.logo-primary {
    color: #FF42A5;
}

.nav-items {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-items>li {
    margin-left: 30px;
}

.primary-nav-items {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
}

.primary-nav-items li {
    list-style: none;
    margin-right: 15px;
}

.primary-nav-items li:last-child {
    margin-right: 0;
}

.nav-items li a {
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

.fa-youtube {
    color: #F61C0D;
}

.fa-tiktok {
    color: #0B0223;
}

.fa-youtube,
.fa-tiktok {
    font-size: 20px;
}

/*=============================
header banner styles
============================*/
.header-banner {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 50px 0;
}

.banner-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-primary {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    color: #FF42A5;
}

.banner-info,
.banner-image {
    width: 50%;
}

.banner-items li {
    list-style: none;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

.banner-image img {
    width: 100%;
}

.btn-group {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}


/*=============================
    we are gammer styles
==============================*/
.gammer-container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 50px 0;
}

.gammer-image,
.gammer-info {
    width: 50%;
    text-align: right;
}

.gammer-image img {
    width: 100%;
}

.text-primary {
    font-size: 48px;
    font-weight: 700;
    color: #FF42A5;
}

.gammer-description {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0;
}

.banner-purpose {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
}

.banner-quote {
    color: #534C64;
    font-size: 28px;
    font-weight: 700;
}

/*===============================
 online video section styles
 ===============================*/
.online-video {
    max-width: 1140px;
    margin: 50px auto;
}

.video-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.video-title-info {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.video-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.video-description {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
}

.video-card {
    width: 340px;
    position: relative;
}

.video-card img {
    width: 100%;
}



/*======================================
 play instantly wrapper
 ===================================*/
.play-instantly-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    padding: 50px 0;
}

.play-instantly-info,
.play-instantly-image {
    width: 50%;
}

.play-instantly-image {
    position: relative;
}

.cover-image1 {
    width: 80%;
    margin-left: 100px;
}

.child-image1 {
    width: 50%;
    position: absolute;
    left: 0;
    bottom: -50px;
}

.play-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
}

/*============================
 games items styles 
 ==========================*/
.games-items-wrapper {
    max-width: 1140px;
    margin: 80px auto;
   display: flex;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
    gap: 30px;
}

.games-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.games-item>img{
    width: 60px;
    height: 60px;
}

.games-item:hover {
    border: 2px solid #FF42A5;
    padding: 5px 8px;
    border-radius: 50px;
}

.games-item .games-name {
    margin-left: 10px;
    color: #0B0223;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/*============================
footer section styles
=============================*/
.footer{
    background-color: #0B0223;
    padding: 50px 0;
}
.footer-content{
    width: 1140px;
    margin: 0 auto;
}
.footer-content .footer-logo{
    color: #fff;
    text-align: center;
}